[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MetaLandSim"]
	path = MetaLandSim
	url = https://github.com/fmestre1/metalandsim
[submodule "lconnect"]
	path = lconnect
	url = https://github.com/fmestre1/lconnect
